html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {

	background-image: url(./Assets/background.jpg);
	background-size: cover;
}
body * {

	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	color: white;
	line-height: 22px;
}
 
#wrapper {

	width: 100%;
	height: 355;
	margin: -145px 0 0 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 50%;
}
#carousel div {
	width: 554px;
	height: 313px;
	margin: 20px 30px;
	float: left;
	position: relative;
}
#carousel div.selected {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#carousel div img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#carousel div span {
	background-color: #fff;
	color: #999;
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	display: block;
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	z-index: 8;
}
 
#prev, #next {
	background: center center no-repeat transparent;
	display: block;
	width: 30px;
	height: 30px;
	margin-top: -30px;
	position: absolute;
	top: 50%;
	z-index: 5;
}
#prev:hover, #next:hover {
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
}
#prev.disabled, #next.disabled {
	opacity: 0.2;
	cursor: default;
}
#prev.disabled:hover, #next.disabled:hover {
	background-color: transparent;
}
#prev {
	background-image: url( ./Assets/gui-prev.png );
	left: 50%;
	margin-left: -320px;
}
#next {
	background-image: url( ./Assets/gui-next.png );
	right: 50%;
	margin-right: -320px;
}

.NavLink{
	font-family: Cinzel;
	margin-right: 15px;
	color:white;
}

.NavLink:hover{
	color:white;
	text-decoration:line-through;
	text-decoration-color:black;
}